section.main {
    padding-bottom: 0;
    height: 672px;

    .main-container {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .title-description-buttons-container {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .title-description-container {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }

        .main-title {
            h1 {
                font-size: 70px;
            }
            h3 {
                font-size: 60px;
            }
        }

        .main-content {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            gap: 20px;
    
            .buttons-container {
                display: flex;
                align-items: center;
                justify-content: start;
                flex-wrap: wrap;

                .hireme-btn, .cv-btn {
                    width: 150px;
                }
                .cv-btn {
                    background: transparent;
                    border: 2px solid var(--main-color);
                    svg, a {
                        color: var(--main-color) !important;
                    }
                    svg {
                        height: 20px;
                        width: 20px;
                    }
                }
            }
        }

        ul.social-media-container {
            display: flex;
            align-items: center;
            justify-content: start;
            padding: 0;
            gap: 20px;
            position: absolute;
            top: 90%;
            right: 88%;
            z-index: 9;

            svg {
                height: 30px;
                width: 30px;
                color: white !important;
            }

            li {
                list-style: none;
                button {
                    border-radius: 50%;
                }
            }
        }
    }

    .image-container {
        position: absolute;
        right: 0;
        bottom: 0;

        img {
            height: 670px;
            width: 750px;
        }
    }
}

/*---------------------- MOBILE VERSION----------------------*/
@media screen and (max-width: 768px) {
    section.main {
        height: fit-content !important;
        padding: 20px 0 !important;

        .main-container {
            .title-description-buttons-container {
                display: flex;
                flex-direction: column;
                gap: 20px;

                .buttons-container {
                    display: flex;
                    align-items: center !important;
                    justify-content: center !important;
                }
            }
    
            .main-title {
                h1 {
                    font-size: 35px !important;
                    text-align: center !important;
                    padding: 0 !important;
                }

                h3 {
                    font-size: 30px !important;
                    text-align: center;
                }
            }

            .description {
                h5 {
                    font-size: 20px;
                    text-align: center;
                }
            }
        }
    
        .image-container {
            display: none;
        }

        .main-content {
            justify-content: center !important;
        }
    }
}

/* ----------- TABLET DEVICES----------- */
@media only screen and (max-width: 768px ) and (max-width:1023px) {
    section.main {
        height: fit-content;
        .main-container {

            .title-description-buttons-container {
                display: flex;
                flex-direction: column;
                gap: 20px;

                .buttons-container {
                    display: flex;
                    align-items: center !important;
                    justify-content: center !important;
                }
            }
    
            .main-title {
                h1 {
                    font-size: 35px;
                    text-align: center;
                    padding: 0 !important;
                }

                h3 {
                    font-size: 30px;
                    text-align: center;
                }
            }

            .description {
                h5 {
                    font-size: 20px;
                    text-align: center;
                }
            }
        }
    
        .image-container {
            display: none;
        }
    }
}

/* ----------- LAPTOP DEVICES----------- */
@media only screen and (max-width: 1024px ) and (max-width:1439px) {
    section.main {
        height: fit-content;
        .main-container {
            .main-content {
                justify-content: center;
            }
            .title-description-buttons-container {
                .buttons-container {
                    display: flex;
                    align-items: center !important;
                    justify-content: center !important;
                }
            }
        }
    
        .image-container {
            display: none;
        }
    }
}

/* ----------- DESCKTOP DEVICES----------- */
@media only screen and (max-width: 1440px ){
    section.main {
        height: 550px;
        .main-container {
            .main-content {
                .main-title {
                    h1{
                        font-size: 65px;
                    }
    
                    h3{
                        font-size: 60px;
                    }
                }
    
                .description {
                    h5 {
                        font-size: 20px;
                    }
                }
            }

            ul.social-media-container {
                flex-direction: column;
                gap: 10px;
                position: fixed !important;
                top: 50%;
                right: 0;
                transform: translate(-50%, -50%);
            }
        }
    }

    .image-container {
        img {
            height: 580px !important;
            width: 580px !important;
        }
    }
}