header {
    width: 100%;
    background: transparent ;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 9;

    .header-content {
        width: 1440px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 2px;

        .logo-navbar-container {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;
        }
    
        .buttons-container {
            button.toggle-btn {
                border-radius: 50%;
                height: 50px;
                width: 50px;
            }
            
            button.contact-me {
                background: var(--button-secondary-bg);
                color: var(--button-secondary-content);
            }

            button.cv-btn{

                svg {
                    display: none;
                }
            }
        }

        .mobile-navbar {
            display: none;
            position: relative;

            .dropdown-menu-content {
                background-color: var(--dark-primary-bg);
                box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
                border-radius: 16px;
                padding: 10px;
                width: 300px;
                position: absolute;
                top: 100%;
                right: 0;
                z-index: 9;
                overflow-y: auto;
                height: 90vh;

                ul {
                    li.navbar-list {
                        background-color: var(--main-color);
                    }
                }

                img.profile-image {
                    background-color: var(--main-color);
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    margin-right: 10px;
                }
            }
            
            button {
                border-radius: 50%;
                padding: 15px;
            }
        }
    }
}
/*----------------------MOBILE DEVICES----------------------*/
@media screen and (max-width: 768px){
    header {
        button.cv-btn {
            border-radius: 50%;
            height: 50px;
            width: 50px;
            
            span {
                display: none;
            }

            svg {
                display: block !important;
            }
        }
        .header-content {
            .logo-navbar-container {
                .navbar {
                    display: none;
                }
            }

            .buttons-container {
                .toggle-btn, .cv-link {
                    display: none;
                }

                .mobile-navbar{
                    display: block;
                }
            }
        }
    }
}
