header {
    width: 100%;
    background: transparent ;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 9;

    .header-content {
        width: 1440px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 2px;

        .logo-navbar-container {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;
        }
    
        .buttons-container {
            button.toggle-btn {
                border-radius: 50%;
                height: 50px;
                width: 50px;
            }
            
            button.contact-me {
                background: var(--button-secondary-bg);
                color: var(--button-secondary-content);
            }

            button.cv-btn{

                svg {
                    display: none;
                }
            }
        }

        .mobile-navbar {
            display: none;
        }
    }
}
/*----------------------MOBILE DEVICES----------------------*/
@media screen and (max-width: 768px){
    header {
        button.cv-btn {
            border-radius: 50%;
            height: 50px;
            width: 50px;
            span {
                display: none;
            }
            svg {
                display: block !important;
            }
        }
        .header-content {
            .logo-navbar-container {
                .navbar{
                    display: none;
                }
            }

            .mobile-navbar{
                display: block;
            }
        }
    }
}