.experience {
    background-color: var(--main-color);
    padding: 5px 15px;
    border-radius: 4px;
    transition: all .3s linear;
    cursor: pointer;

    h3, h6 {
        color: white !important;
    }
}