form {
    .Form {
        width: 100%;
        flex-wrap: wrap;
        .Form-Inputs{
            flex-direction: column;
            .input__container{
                position: relative;
                svg{
                    height: 30px;
                    width: 30px;
                    color: var(--icon-color) !important;
                    position: absolute;
                    top: 50%;
                    left: 8%;
                    transform: translate(-50%,-50%);
                }
                svg:hover{
                    color: white;
                }
            }
        }
    }

    .Submit-Input{
        padding: 10px;
    }

    input, textarea {
        width: 400px;
        outline: none;
        border-radius: 5px;
    }

    input{
        height: 60px;
        padding-left: 50px;
    }

    textarea{
        height: 130px;
        padding-top: 10px;
        padding-left: 15px;     
        resize: none;
        overflow-y: hidden;
    }

    input::placeholder,
    textarea::placeholder{
        color: black;
    }
    
    input:hover,
    textarea:hover{
        // box-shadow: .1px .1px 5px var(--secondary-color-LM);
    }

    input:focus,
    textarea:focus{
        box-shadow: .1px .1px 5px white;
    }

    input[name="subject"]{
        padding: 15px;
    }

    input[type="submit"]{
        background: var(--button-bg);
        color: white !important;
        border: none;
        box-shadow: none;
        padding: 0;
    }
    input[type="submit"]:hover{
        background: var(--button-hover) !important;
    }
}

/*---------------------- MOBILE VERSION----------------------*/
@media screen and (max-width: 768px){
    form {
        width: 100%;

        input, textarea {
            width: 300px;
            outline: none;
            border-radius: 5px;
        }
    }
}